# Entorno virtual
venv/
.env
__pycache__/
*.pyc

# Archivos de entorno y configuración
.env.local
*.log

# Configuración de editor y sistema
.vscode/
.idea/
.DS_Store

# Archivos de compilación o dependencias
dist/
build/
*.egg-info/
